.results {
  font-size: 2rem;
}

.result {
	//animation: bounce 2s ease infinite;
	transition: all 1s ease;
	cursor: pointer;
	transform-origin: 50% 50%;
	opacity: 1;
	left: 0;
}

.result:after {
	content: "ℹ";
	display: block;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	background: white;
	border-radius: 50%;
	position: absolute;
	top: calc(20% - 15px);
	right: 30px;
}

.result-1 {
	animation-delay: 0s;
}
.result-2 {
	animation-delay: 0.25s;
}
.result-3 {
	animation-delay: 0.75s;
}
.result-4 {
	animation-delay: 1s;
}

.img-result {
	max-height: 12vh;
}
/*
.result.active {
	animation: selected 3s ease forwards;
	opacity: 1;
}
*/
.result.hide {
	left: -30px;
	opacity: 0;
}

.bubble {
	position: relative;
	border: 2px solid #4E483C;
	border-radius: 8px;
	padding: 1rem;
	color: $text;
	font-weight: bold;
	text-align: center;
}
.bubble:after, .bubble:before {
	right: 100%;
	top: 60%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubble:after {
	border-color: rgba(170, 213, 197, 0);
	border-right-color: #BBA980;
	border-width: 20px;
	margin-top: -47px;
}
.bubble:before {
	border-color: rgba(78, 72, 60, 0);
	border-right-color: #4E483C;
	border-width: 23px;
	margin-top: -50px;
}

.bounce {
	animation-name: bounce;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes selected{
  0% {
    transform: translateY(0%) scale(1);
  }
  20% {
    transform: translateY(0%) scale(1);
  }
  30% {
    transform: translateY(0%) scale(1.2);
  }
  100% {
    transform: translateY(-100%) scale(1.2);
  }
}

@keyframes bounce{
	from {transform: scale(1);}
	50%  {transform: scale(1.02);}
	to   {transform: scale(1);}
}